# Goal
### Clean and preprocess the collected data to remove errors, handle missing values, and transform it into a suitable format for analysis. 
**Tasks**: data cleaning, data integration, data transformation etc

### *2018 Data*

In [11]:
import pandas as pd
from datetime import datetime
# read the 2018 baywheels data
baywheels_df = pd.read_csv('baywheels_2018', low_memory=False, index_col=0)

In [12]:
# convert the start_time and end_time object into datetime64 objects
baywheels_df['start_time'] = pd.to_datetime(baywheels_df['start_time'], 
                                                format="Date: %d/%m/%y; Time: %H:%M:%S", errors='coerce')
baywheels_df['end_time'] = pd.to_datetime(baywheels_df['end_time'], 
                                                format="Date: %d/%m/%y; Time: %H:%M:%S", errors='coerce')

In [13]:
baywheels_df.dtypes

start_time           datetime64[ns]
end_time             datetime64[ns]
start_station_id             object
start_station_lat            object
start_station_lon            object
end_station_id               object
end_station_lat              object
end_station_lon              object
bike_id                      object
dtype: object

In [14]:
baywheels_df.head(2)

,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
0,2018-04-26 18:04:41,2018-04-26 18:10:07,11.0,37.79728,-122.398436,6.0,37.80477,-122.403234,2530.0
1,2018-05-18 19:34:12,2018-05-18 19:37:57,64.0,37.7767539,-122.3990176,321.0,37.7801457035,-122.4030708524,3643.0

In [15]:
#identify the NaT values
na_start_values = baywheels_df['start_time'].isna()
na_start_rows = baywheels_df[na_start_values]
na_end_values = baywheels_df['end_time'].isna()
na_end_rows = baywheels_df[na_end_values]
na_rows = pd.concat([na_start_rows, na_end_rows])
na_rows # the rows with missing values are the same for both columns (10 rows)

,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
439433,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
481488,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
689379,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
896954,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
959289,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
1291280,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
1500621,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
1525798,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
1604523,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
1861419,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
439433,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
481488,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
689379,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
896954,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
959289,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
1291280,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
1500621,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
1525798,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
1604523,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure
1861419,NaT,NaT,Failure,Failure,Failure,Failure,Failure,Failure,Failure

In [16]:
# check the start_time column
baywheels_df['start_time']

0         2018-04-26 18:04:41
1         2018-05-18 19:34:12
2         2018-07-14 14:57:05
3         2018-11-11 16:35:22
4         2018-12-15 10:15:24
                  ...
1863726   2018-05-09 08:23:45
1863727   2018-12-22 19:28:59
1863728   2018-05-05 10:49:33
1863729   2018-05-09 08:55:21
1863730   2018-02-08 18:01:18
Name: start_time, Length: 1863731, dtype: datetime64[ns]

In [17]:
# drop the NaT values
baywheels_df.dropna(subset=['start_time'], inplace=True)

In [19]:
# check the start_time column after dropna
baywheels_df['start_time']

0         2018-04-26 18:04:41
1         2018-05-18 19:34:12
2         2018-07-14 14:57:05
3         2018-11-11 16:35:22
4         2018-12-15 10:15:24
                  ...
1863726   2018-05-09 08:23:45
1863727   2018-12-22 19:28:59
1863728   2018-05-05 10:49:33
1863729   2018-05-09 08:55:21
1863730   2018-02-08 18:01:18
Name: start_time, Length: 1863721, dtype: datetime64[ns]

In [23]:
# add a column 'duration' to baywheels_df
length_of_trip = baywheels_df['end_time'] - baywheels_df['start_time']
baywheels_df['duration'] = pd.DataFrame(length_of_trip)

In [25]:
baywheels_df.head(2)

,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id,duration
0,2018-04-26 18:04:41,2018-04-26 18:10:07,11.0,37.79728,-122.398436,6.0,37.80477,-122.403234,2530.0,0 days 00:05:26
1,2018-05-18 19:34:12,2018-05-18 19:37:57,64.0,37.7767539,-122.3990176,321.0,37.7801457035,-122.4030708524,3643.0,0 days 00:03:45

In [51]:
baywheels_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1863721 entries, 0 to 1863730
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   start_time         datetime64[ns]
 1   end_time           datetime64[ns]
 2   start_station_id   object
 3   start_station_lat  object
 4   start_station_lon  object
 5   end_station_id     object
 6   end_station_lat    object
 7   end_station_lon    object
 8   bike_id            object
 9   duration           timedelta64[ns]
dtypes: datetime64[ns](2), object(7), timedelta64[ns](1)
memory usage: 156.4+ MB

### *Weather data*

In [80]:
weather_df = pd.read_csv('SanFrancisco')
weather_df.head(2)

,city,timestamp,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
0,San Francisco,2015-01-01 08:56:00,7.0,33.0,Fair,1018.26,6.0,0.0,7.0
1,San Francisco,2015-01-01 09:56:00,4.0,33.0,Fair,1018.60,6.0,0.0,4.0

In [81]:
# check what values are in city columns
weather_df['city'].describe()

count             76631
unique                1
top       San Francisco
freq              76631
Name: city, dtype: object

In [82]:
# we can drop the city column
weather_df.drop(labels='city', axis=1, inplace=True)
weather_df.head(2)

,timestamp,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
0,2015-01-01 08:56:00,7.0,33.0,Fair,1018.26,6.0,0.0,7.0
1,2015-01-01 09:56:00,4.0,33.0,Fair,1018.60,6.0,0.0,4.0

In [84]:
# filter just values from 2018 year
weather_df.info()
weather_df['timestamp'] = pd.to_datetime(weather_df['timestamp'], format='%Y-%m-%d %H:%M:%S')

start = datetime(year=2018, month=1, day=1)
end = datetime(year=2018, month=12, day=31)

weather_df_18 = weather_df[(weather_df['timestamp'] >= start)&(weather_df['timestamp'] <= end)].copy()
weather_df_18.sort_values(by='timestamp', inplace=True)
weather_df_18

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76631 entries, 0 to 76630
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   timestamp                76631 non-null  datetime64[ns]
 1   temperature              76619 non-null  float64
 2   cloud_cover              76630 non-null  float64
 3   cloud_cover_description  76630 non-null  object
 4   pressure                 76613 non-null  float64
 5   windspeed                76592 non-null  float64
 6   precipitation            76631 non-null  float64
 7   felt_temperature         76614 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 4.7+ MB

,timestamp,temperature,cloud_cover,cloud_cover_description,pressure,windspeed,precipitation,felt_temperature
28787,2018-01-01 00:56:00,14.0,28.0,Mostly Cloudy,1018.60,6.0,0.0,14.0
28788,2018-01-01 01:56:00,13.0,27.0,Mostly Cloudy,1018.94,7.0,0.0,13.0
28789,2018-01-01 02:56:00,13.0,27.0,Mostly Cloudy,1019.62,7.0,0.0,13.0
28790,2018-01-01 03:56:00,12.0,27.0,Mostly Cloudy,1019.96,0.0,0.0,12.0
28791,2018-01-01 04:56:00,12.0,27.0,Mostly Cloudy,1020.63,6.0,0.0,12.0
...,...,...,...,...,...,...,...,...
38305,2018-12-30 21:39:00,13.0,28.0,Mostly Cloudy,1019.62,11.0,0.0,13.0
38306,2018-12-30 21:56:00,14.0,28.0,Mostly Cloudy,1019.28,24.0,0.0,14.0
38307,2018-12-30 22:56:00,13.0,28.0,Mostly Cloudy / Windy,1018.94,35.0,0.0,13.0
38308,2018-12-30 23:25:00,13.0,30.0,Partly Cloudy,1018.60,26.0,0.0,13.0
38309,2018-12-30 23:56:00,13.0,28.0,Mostly Cloudy / Windy,1018.60,33.0,0.0,13.0

In [85]:
#check missing values in weather_df_18
weather_df_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9523 entries, 28787 to 38309
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   timestamp                9523 non-null   datetime64[ns]
 1   temperature              9523 non-null   float64
 2   cloud_cover              9523 non-null   float64
 3   cloud_cover_description  9523 non-null   object
 4   pressure                 9523 non-null   float64
 5   windspeed                9522 non-null   float64
 6   precipitation            9523 non-null   float64
 7   felt_temperature         9523 non-null   float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 669.6+ KB

In [87]:
# analyze the windspeed collumn why there is so many Nan values
is_null = weather_df_18['windspeed'].isnull()
is_null_row = weather_df_18[is_null]
is_na = print(weather_df_18['windspeed'].isnull().value_counts())

print(is_null_row)

False    9522
True        1
Name: windspeed, dtype: int64
                timestamp  temperature  cloud_cover cloud_cover_description  \
29726 2018-02-04 10:56:00         14.0         33.0                    Fair

       pressure  windspeed  precipitation  felt_temperature
29726    1018.6        NaN            0.0              14.0

In [88]:
# look at values in the weather_df_18 using .decribe()
weather_df_18.describe()

,temperature,cloud_cover,pressure,windspeed,precipitation,felt_temperature
count,9523.000000,9523.000000,9523.000000,9522.000000,9523.000000,9523.000000
mean,14.365536,29.073716,1016.514507,16.373136,0.054319,14.270818
std,3.678057,4.837957,4.601758,11.116985,0.407368,3.845998
min,2.000000,4.000000,996.940000,0.000000,0.000000,1.000000
25%,12.000000,27.000000,1013.520000,7.000000,0.000000,12.000000
50%,14.000000,29.000000,1016.230000,15.000000,0.000000,14.000000
75%,17.000000,33.000000,1019.280000,24.000000,0.000000,17.000000
max,34.000000,40.000000,1031.470000,59.000000,9.650000,32.000000

In [92]:
# the row 29726 looks like an average day -> we will replace the NaN value with the mean value 
mean_windspeed = weather_df_18['windspeed'].mean()
weather_df_18['windspeed'] = weather_df_18['windspeed'].fillna(mean_windspeed)
weather_df_18.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9523 entries, 28787 to 38309
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   timestamp                9523 non-null   datetime64[ns]
 1   temperature              9523 non-null   float64
 2   cloud_cover              9523 non-null   float64
 3   cloud_cover_description  9523 non-null   object
 4   pressure                 9523 non-null   float64
 5   windspeed                9523 non-null   float64
 6   precipitation            9523 non-null   float64
 7   felt_temperature         9523 non-null   float64
dtypes: datetime64[ns](1), float64(6), object(1)
memory usage: 669.6+ KB