# Goal
### Clean and preprocess the collected data to remove errors, handle missing values, and transform it into a suitable format for analysis. 
**Tasks**: data cleaning, data integration, data transformation etc

In [15]:
import pandas as pd

baywheels2018_df = pd.read_csv('baywheels_2018', low_memory=False, index_col=0)
baywheels2018_df.head()

,start_time,end_time,start_station_id,start_station_lat,start_station_lon,end_station_id,end_station_lat,end_station_lon,bike_id
0,Date: 26/04/18; Time: 18:04:41,Date: 26/04/18; Time: 18:10:07,11.0,37.79728,-122.398436,6.0,37.80477,-122.403234,2530.0
1,Date: 18/05/18; Time: 19:34:12,Date: 18/05/18; Time: 19:37:57,64.0,37.7767539,-122.3990176,321.0,37.7801457035,-122.4030708524,3643.0
2,Date: 14/07/18; Time: 14:57:05,Date: 14/07/18; Time: 15:10:37,70.0,37.7733108789,-122.4442926049,109.0,37.7633158,-122.4219039,1964.0
3,Date: 11/11/18; Time: 16:35:22,Date: 11/11/18; Time: 16:45:37,160.0,37.8053183,-122.2948365,220.0,37.8113514,-122.2734217,3580.0
4,Date: 15/12/18; Time: 10:15:24,Date: 15/12/18; Time: 10:20:23,72.0,37.772406,-122.4356498,119.0,37.7610471,-122.4326417,5247.0

In [14]:
baywheels2018_df.dtypes

start_time           object
end_time             object
start_station_id     object
start_station_lat    object
start_station_lon    object
end_station_id       object
end_station_lat      object
end_station_lon      object
bike_id              object
dtype: object